<h1>Listagem de produtos</h1>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Categoria</th>
    <th>Matérias-primas</th>
    <th>Preço</th>
    <th>Tempo de confecção (em horas)</th>
    <th colspan="3">Ações</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.category %></td>
    <td><%= raw_materials_names(product.raw_materials) %></td>
    <td><%= product.price %></td>
    <td><%= product.confection_time_in_hours %></td>
    <td><%= link_to 'Exibir', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo produto', new_product_path %>
