<!DOCTYPE html>
<html>
<head>
  <title>ArtesanArte</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <%= link_to "ArtesanArte", root_path, class: 'navbar-brand' %>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav side-nav">
                      <li class="<%= active_for('products') %>">
                          <%= link_to products_path do %>
                          <i class="fa fa-cube"></i> Produtos
                          <% end %>
                      </li>
                      <li class="<%= active_for('orders') %>">
                          <%= link_to orders_path do %>
                          <i class="fa fa-cubes"></i> Pedidos
                          <% end %>
                      </li>
                      <li class="<%= active_for('raw_materials') %>">
                          <%= link_to raw_materials_path do %>
                          <i class="fa fa-puzzle-piece"></i> Matérias-primas
                          <% end %>
                      </li>
                      <li class="<%= active_for('clients') %>">
                          <%= link_to clients_path do %>
                          <i class="fa fa-users"></i> Clientes
                          <% end %>
                      </li>
                  </ul>
              </div>
          </nav>

          <div id="page-wrapper">
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
      </div>
</body>
</html>
